button {
    height: 2em;
    width: 5em;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;

}

div.header{
    height: 6em;
}

p{
    width: 40%;
    text-align: center;
    margin:auto;
    margin-bottom: 2em;
    padding: 5pt;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 15pt;
    background-color: coral;
    border-color: black;
    border-width: 2pt;
    border-radius: 3pt;
    border-style: solid;
}